#root {
  width: 100%;
}

.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navbar {
  background: #181818;
  display: flex;
  z-index: 3;
}

.navbar img {
  width: 42px;
  height: auto;
  padding-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.navbar a {
  height: 100%;
  margin: 0 1rem;
  color: white;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  color: darkred;
  font-weight: bold;
  border: none
}

.navbar .right {
  position: absolute;
  right: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar .left {
  padding-left: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.home .top{
  position: relative;
  width: 100%; 
  height: auto; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .top .UB {
  display: block;
  filter: brightness(0.25);
  z-index: 1;
}

.home .top h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 350px;
  height: auto;
}

.home .top .Logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 350px;
  height: auto;
}

.home .top h2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 640px;
  height: auto;
}

.home .purposeSection, .home .mottoSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home .purposeSection img, .home .mottoSection img {
  width: 600px;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  height: auto;
}

.home .purpose h2, .home .motto h2 {
  padding-right: 2rem;
  padding-left: 1rem;
}

.home .purpose p, .home .motto p {
  padding-right: 2rem;
  padding-left: 1rem;
  max-width: 640px;
}

.login, .signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm, .signUpForm {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.loginForm input, .signUpForm input {
  margin: 1rem;
  padding: 1rem;
}

.brotherList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.Profile {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.settings {
  padding: 1rem;
}

.settingsImage {
  width: 150px;
  padding-bottom: 1rem;
}

.newList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* You may adjust the height as needed */
  background-color: darkred;
  padding-bottom: 1rem
}

.newList {
  padding-bottom: 1rem
}

.adminList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* You may adjust the height as needed */
  background-color: darkgoldenrod;
  padding-bottom: 1rem
}

.demoteButton {
  background-color: black;
  padding-bottom: .5rem
}

.newList table, .adminList table {
  /* Add a width if you want to control the size of the table */
  width: 80%; /* Example width, you can set this to the width you want */
  margin-left: auto;
  margin-right: auto;
}

/* .newList th, .adminList th {
  font-size: 12px;
} */

.settings .tableContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.currentLinkedIn {
  background-color: darkgreen;
  padding-bottom: 2rem;
  padding-top: .5rem;
}

.currentLinkedIn form button, .currentLinkedIn form button {
  margin-right: .5rem;
  margin-left: .5rem;
}

.imageSection {
  padding-bottom: 2.5rem;
}